@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap");

.LoginCointainer {
  display: flex;
  flex-direction: column;
  background-color: #ffe115;
  width: 100vw;
  height: 100vh;
}

.LoginCointainer form {
  display: flex;
  flex-direction: column;
  width: 48rem;
  height: auto;
  position: absolute;
  right: 0;
  margin-top: 16rem;
  margin-right: 18.7rem;
}

.LoginCointainer form input {
  width: 100%;
  height: 8rem;
  border-radius: 1.5rem;
  border: none;
  outline: none;
  font-size: 2.5rem;
  padding: 1.5rem;
  box-sizing: border-box;
  font-weight: 100;
  color: rgb(51, 51, 51);
}

.LoginCointainer form h1 {
  justify-self: center;
  align-self: center;
}

section form h1 {
  white-space: pre;
  font-weight: 700;
  font-style: normal;
  font-size: 111px;
  color: #ffffff;
}
section form h2 {
  white-space: pre;
  font-size: 4rem;
  font-weight: 700;
  font-style: normal;
  color: #000000;

  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

section form button {
  transition: 0.3s;
  background-color: rgb(255, 202, 21);
  border: none;
  font-size: 3rem;
  font-weight: 700;
  color: #ffffff;
  border-radius: 1.5rem;
  margin-top: 6rem;
  width: 32rem;
  align-self: center;
  padding: 1rem;
  cursor: pointer;
}

.disabledButton {
  transition: 0.3s;
  opacity: 0.32;
  background-color: #fff;
}

.foodZilla {
  margin-top: 5rem;
  margin-left: 5rem;
  width: 29.4rem;
  height: 5.8rem;
}
